.home, .about, .logement, .notFound{
    margin: 0 auto;
    max-width: 1240px;
}

* {
    font-family: 'Montserrat', sans-serif;
  }


@media screen and (min-width: 1022px) and (min-height: 1042px) {
    .notFound footer, .logement footer, .about footer{
        background-color: black;
        width: 100%;
        margin-top: 35px;
        position: absolute;
        left: 0;
        bottom: 0;
    }
}

@media screen and (max-width: 1280px) and (min-width: 860px) {
    .home, .about, .logement, .notFound {
      width: 70%;
    }
    .titleBanner {
        font-size: 32px;
    }
    .container h3 {
        font-size: 12px;
    }
    .banner img {
        height: 150px;
    }
}

@media screen and (max-width: 860px) {
    .conteneur-parent {
      width: 60%;
    }
    .titleBanner {
        font-size: 18px;
    }
    .header .logo {
        width: 100px;
    }
    .header li a {
        font-size: 16px;
    }
    .card-link .container h3 {
        font-size: 12px;
        padding: 5px;
        bottom: -1px;
        padding: 25px;
    }
    .footer p {
        font-size: 16px;
    }
    .notFound main p {
        font-size: 24px;
    }
    .home .card-link {
        width: 100%;
        padding: 0;
    }
    .logement .collapses {
        display: block;
        margin-top: 30px;
    }
    .logement .collapse {
        width: 100%;
    }
    .collapse-header {
        height: 30px;
    }
    .logement .collapse-content {
        width: 95%;
        bottom: 15px;
    }
    .arrow {
        font-size: 24px;
    }
    .home .container {
        height: 250px;
        width: 100%;
        margin-bottom: 20px;
    }
    .card {
        display: flex;
        justify-content: center;
        background-color: white;
        margin-top: 30px;
        padding: 0;
    }
    .logement-details {
        flex-direction: column;
    }
    .logement-details .info-host  {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }
    .banner img {
        height: 100px;
        border-radius: 10px;
    }
    .logement .collapse-header {
        margin-top: 0;
        margin-bottom: 10px;
        height: auto;
        width: 95%;
    }
}