@import '../../sass/main.scss';

.collapse {
    border-radius: 15px;
    margin: 10px;
  }
  
  .collapse-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 0 10px;
    color: white;
    margin-top: 10px;
    background-color: #FF6060;
    border-radius: 15px;
  }
  
  .arrow {
    font-size: 48px;
    transition: transform 0.3s ease-in-out;
  }
  
  .up {
    transform: rotate(-180deg);
  }
  
  .collapse-content {
    background-color: #F6F6F6;;
    border-radius: 10px;
    color: #FF6060;
    padding: 10px;
    font-size: 12px;
  }
  
h2 {
    font-weight: 500;
    font-size: 16px;
    margin: 0;
}

.logement .collapses {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.logement .collapse {
  width: 50%;
}

.logement .collapse-header {
  margin-top: 0;
}

.collapse-content p {
  margin: 0;
}