@import '../../sass/main.scss';

.carousel img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 20px;
}

.carousel {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  padding: 10px;
  font-size: 64px;
  color: white;
  cursor: pointer;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.carousel-content {
  display: flex; 
  align-items: center;
  width: 100%;
  flex: 1;
}

.image-counter {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 3px 6px;
  border-radius: 4px;
}
