@import '../../sass/main.scss';

.notFound {
    .footer {
        background-color: black;
        width: 100%;
        margin-top: 30px;
        position: absolute;
        left: 0;
        bottom: 0;
    }
}

main {
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    color: #FF6060;
    ;
}

main h1 {
    font-size: 128px;
    display: flex;
    justify-content: center;
}

.notFound p {
    font-size: 48px;
    display: flex;
    justify-content: center;
    width: 90%;
}

.nav-link {
    color: #FF6060; 
    display: flex;
    justify-content: center;
}