@import '../../sass/main.scss';

main {
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    color: #FF6060;
    ;
}

main h1 {
    font-size: 128px;
    display: flex;
    justify-content: center;
}

.notFound main p {
    font-size: 36px;
    display: flex;
    justify-content: center;
    width: 90%;
    text-align: center;
}

.nav-link {
    color: #FF6060; 
    display: flex;
    justify-content: center;
}